@font-face {
  
    font-family: "GotemPro";
    src: url("../fonts/GothaProBlata.woff2") format("woff2");
         
         font-weight: 400; 
         font-display: swap;


          }     

          